from typing import Literal, Type
from pathlib import Path
from litestar.contrib.jinja import JinjaTemplateEngine
from litestar.static_files.config import StaticFilesConfig
from litestar.middleware.compression import CompressionMiddleware
from litestar.types import Scopes, Method


# Build paths inside the project like this: BASE_DIR / 'subdir'.
BASE_DIR = Path(__file__).resolve().parent.parent


# SECURITY WARNING: keep the secret key used in production secret!
SECRET = '{{ secret_key }}'

# SECURITY WARNING: don't run with debug turned on in production!
DEBUG = True



# Application definition

INSTALLED_APPS = []

MIDDLEWARE = []

MIDDLEWARE_FROM_FACTORY_BEFORE = False

ROOT_URLCONF = 'api.urls'


ASGI_APPLICATION = '{{project_name}}.main:application'



TORTOISE_ORM = {
    "connections": {
        "default": "sqlite://db.sqlite3",
        # {
        #     "engine": "tortoise.backends.asyncpg",
        #     "credentials": {
        #         "database": 'farde',
        #         "host": "127.0.0.1",
        #         "password": "stone#",
        #         "port": 5432,
        #         "user": "eddy",
        #     }
        # }
    },
    "apps": {
        "oya.db.migrations": {
            "models": ["oya.db.migrations.models"],
            "default_connection": "default",
        },
    },
}


# Templates

TEMPLATES = {
    'DIRS' : ['templates'],
    'ENGINE' : JinjaTemplateEngine,
}

# TEMPLATES = TemplateConfig(
#         directory=Path("templates"),
#         engine=JinjaTemplateEngine,
#     )


# Static files

STATIC_FILES = [
    {
        'DIRS': ['static'],
        'PATH' : "/static",
        'HTML_MODE' : False,
        'NAME' : "static",
        'AS_ATTACHMENT' : False
    },
    StaticFilesConfig(
        directories=["static"],
        path="/some_folder/static/path",
        html_mode=False,
        name="static",
        send_as_attachment=True,
    ),
]

# Internationalization
# https://docs.djangoproject.com/en/{{ docs_version }}/topics/i18n/

LANGUAGE_CODE = 'en-us'

TIME_ZONE = 'UTC'

USE_I18N = True

USE_TZ = True


APP_MIGRATIONS_FOLDER = 'migrations'

MIGRATIONS_PER_APP = False # experimental

MIGRATIONS_LOCATION = BASE_DIR / APP_MIGRATIONS_FOLDER



TEST_RUNNER = 'oya.test.runner.DiscoverRunner'

########### ------------------------------ UVICORN ---------------------------------- ##########

UVICORN_PORT = 8080
UVICORN_LOG_LEVEL = 'info'



########## ------------------------------- OYA ------------------------------------ ##########
OYA_VERSION = '0.0.1'
APP_NAME = "{{ project_name }}"


####### -------------------------------- ALLOWED HOSTS CONFIG --------------------- #########

ALLOWED_HOSTS: list[str] = ['127.0.0.1']
EXCLUDE_HOSTS: str | list[str] | None = None  # exclude parameter from Litestar's AllowedHostsConfig
ALLOWED_HOSTS_EXCLUDE_OPT_KEY: str | None = None # exclude_opt_key parameter from Litestar's AllowedHostsConfig
ALLOWED_HOSTS_SCOPES: Type[Scopes] | None = None
WWW_REDIRECT: bool = True


####### -------------------------------- CORS CONFIG ------------------------------ ##########

ALLOW_ORIGINS: list[str] = []
ALLOW_METHODS: list[str] = ['*']
ALLOW_HEADERS: list[str] = []
ALLOW_CREDENTIALS: bool = False
ALLOW_ORIGIN_REGEX: str | None = None
EXPOSE_HEADERS: list[str] = []
CORS_MAX_AGE: int = 600


##### -------------------------------- COMPRESSION CONFIG ------------------------- ###########

COMPRESSION_BACKEND: Literal['gzip', 'brotli'] | None = None
COMPRESSION_MINIMUM_SIZE: int = 500
GZIP_COMPRESS_LEVEL: int = 9                                            # [0-9]
BROTLI_QUALITY: int = 6                                                 # [0-11]
BROTLI_MODE: Literal['generic', 'text', 'font'] = 'text'
BROTLI_LGWIN: int = 22                                                  # [10-24]
BROTLI_LGBLOCK: Literal[0, 16, 17, 18, 19, 20, 21, 22, 23, 24] = 0      # [16-24]
COMPRESSION_MIDDLEWARE_CLASS:Type[CompressionMiddleware] | None = None
COMPRESSION_EXCLUDE: str | list[str] | None = None
COMPRESSION_EXCLUDE_OPT_KEY: str | None = None


#### -------------------------------- CSRF CONFIG ---------------------------------- ###########

CSRF_COOKIE_NAME: str = 'csrftoken'
CSRF_COOKIE_PATH: str = '/'
CSRF_HEADER_NAME: str = 'x-csrftoken'
CSRF_COOKIE_SECURE: bool = False
CSRF_COOKIE_HTTPONLY: bool = False
CSRF_COOKIE_SAMESITE: Literal['lax', 'strict', 'none'] = 'lax'
CSRF_COOKIE_DOMAIN: str | None = None
CSRF_SAFE_METHODS: set[Method] = ('GET',)
CSRF_EXCLUDE: str | list[str] | None = None
EXCLUDE_FROM_CSRF_KEY: str = 'exclude_from_csrf'

#### ------------------------------- RESPONSE CACHE CONFIG ------------------------- ############

RESPONSE_CACHE_DEFAULT_EXPIRATION: int | None= 60
RESPONSE_CACHE_STORE_NAME: str = 'response_cache'

